.container {
    Width: 400px;
    border: 1px solid black;
    border-radius: 25px;
}

.container_title {
    margin: 0;
    Width: 95%;
    height: 40px;
    padding-top: 10px;
    padding-left: 5%;
    font-size: 22px;
    border-radius: 25px 25px 0px 0px;
    background-color: steelblue;
    color: white;
}

.container_inputs {
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#user {
    border: none;
    border-bottom: 2px solid black;
    text-decoration: none;
}

#field {
    border: none;
    border-bottom: 2px solid black;
    text-decoration: none;
}

#submit {
    Width: 50px;
    height: 25px;
    background-color: steelblue;
    border-radius: 10px;
    color: white;
    border: 1px solid black;
    text-decoration: none;
}

#take {
    margin: 4%;
    padding: 3%;
    color: white;
    Width: 86%;
    height: 200px;
    background: gray;
    overflow-y: auto;
    border-radius: 0px 0px 25px 25px;
}

.item {
    background: steelblue;
    border: 1px solid steelblue;
    border-radius: 20px;
    color: white;
    padding-left: 10px;
}