.logs {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

body {
    background-color: steelblue;
}

.scrollbar {
    width: 100%;
    max-width: 100%;
    height: 400px;
    background-color: #7bd6fc;
}